/* 100% responsible website for 5 devise */

*{
    padding: 0;
    margin: 0;
    font-family: 'Work Sans', sans-serif;
    scroll-behavior: smooth;
}
/* common style start  */
:root{
    --linear:red;
    --linear-2: #4EC5F7;
    --text-primary-color: #3C354F;
    --text-secondary-color: #0B0223;
    --text-color: #534C64;
    --color-white:#fff;
}
span{
    color: var(--linear);
}
/* common style end  */
/* nav style start  */

.garena{
    font-size: 2.8rem;
    font-weight: 700;
    cursor: pointer;
}
.logo{
    width: 60px;
}
.garena img{
    width: 100px;
}


/* nav style end  */
/* header style start  */
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:20px 10%;
}
header h2{
    color:var(--text-secondary-color);
    font-size: 2.5rem;
    font-weight: 600;
    text-transform: uppercase;
}
header h1{
    font-size: 4rem;
    font-weight: 800;
    text-transform: uppercase;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin: 10px 0;
}
header p{
    color: var(--text-color);
    font-size: 2rem;
    font-weight: 500;
}
header button{
    color: var(--color-white);
    font-size: 1rem;
    font-weight: 600;
    text-transform: uppercase;
    padding: 20px 40px;
    border-radius: 1rem;
    border: none;
    background-color: var(--linear);
    cursor: pointer;
    margin-top: 1rem;
}
header img{
    width: 450px;
}
/* header style end  */
/* Online Games Funny Videos start  */
.Online-Games-Funny-Videos{
    text-align: center;
    padding: 5% 10%;
}
.Online-Games-Funny-Videos h1{
    color: var(--text-secondary-color);
    font-size: 3rem;
    font-weight: 700;
    margin-bottom: 1rem;
}
.Online-Games-Funny-Videos > h1 > span{
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.Online-Games-Funny-Videos > p{
    color: var(--text-color);
    font-size: 1.25rem;
    font-weight: 400;
    margin-bottom: 1.5rem;
}
.Online-Games-Funny-Videos-img{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 1rem;
    text-align: center;
}
.Online-Games-Funny-Videos-img img{
    width: 100%;
    border-radius: .8rem;
}
.Online-Games-Funny-Videos-img p{
    color: var(--text-color);
    font-weight: 800;
    font-size: 2rem;
    text-transform: uppercase;
}
/* Online Games Funny Videos end  */
.duo{
    text-align: center;
    padding: 5% 10%;
    padding: 50px 10% 100px;
}
.duo h1{
    color: var(--text-secondary-color);
    font-size: 3rem;
    font-weight: 700;
    margin-bottom: 1rem;
}
.duo h1 span{
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.duo img{
    width: 20%;
    border-radius: 2.5rem;
}
.duo-img{
    margin: 10vw 0 5vw ;
    position: relative;
    height: 30vw;
    background-image: url("../images/duo.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
.dou-img-4{
    position: absolute;
    top: -7vw;
    left: 3vw;
}
.dou-img-2{
    position: absolute;
    top: -7vw;
    right: 3vw;
}
.dou-img-1{
    position: absolute;
    bottom: -7vw;
    left: 3vw;
}
.dou-img-3{
    position: absolute;
    bottom: -7vw;
    right: 3vw;
}
/* footer style start   */
footer{
    background-color: var(--text-secondary-color);
    padding: 50px 20% 20px;
    color: var(--color-white);
    text-align: center;
}
.social-icon{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    padding: 20px 30%;
    gap: 20px;
    cursor: pointer;
}
footer p{
    color: rgba(255, 255, 255, 0.60);
    font-size: 16px;
    font-weight: 500;
    margin-top: 20px;
}
/* footer style end   */














/* small mobile style start */
@media screen and (max-width: 320px) {
    .garena{
        font-size: 2rem;
        font-weight: 700;
        cursor: pointer;
    }
    .logo{
        width: 50px;
    }
    .garena img{
        width: 100px;
    }
    header{
        flex-direction: column-reverse;
        padding:5px;
        text-align: center;
    }

    header h2{
        font-size: 1.5rem;
    }
    header h1{
        font-size: 2rem;
    }
    header p{
        font-size: 1rem;
    }
    header button{
        font-size: .8rem;
        padding: 10px 20px;
    }
    header img{
        width: 100%;
    }
    .Online-Games-Funny-Videos-img{
        grid-template-columns: 1fr;
    }
    .Online-Games-Funny-Videos h1{
        font-size: 2rem;
    }
    .Online-Games-Funny-Videos > p{
        font-size: 1rem;
    }
    .duo h1{
        font-size: 2rem;
    }
    .social-icon{
        grid-template-columns: repeat(2, 1fr);
        padding:20px 30%;
    }

    footer p{
        font-size: .8rem;
    }
}
/* small mobile style end */
/* mobile style start */
@media screen and (min-width: 321px) and (max-width: 640px) {
    
    nav,
    nav > ul{
        flex-direction: column;
    }
    .nav-icon{
        margin-bottom: 3rem;
    }
    header{
        flex-direction: column-reverse;
        padding:20px;
        text-align: center;
    }

    header h2{
        font-size: 1.8rem;
    }
    header h1{
        font-size: 2.5rem;
    }
    header p{
        font-size: 1.5rem;
    }
    header button{
        font-size: 1rem;
        padding: 12px 25px;
    }
    header img{
        width: 100%;
    }
    .Online-Games-Funny-Videos-img{
        grid-template-columns: 1fr;
    }
    .Online-Games-Funny-Videos h1{
        font-size: 2.5rem;
    }
    .Online-Games-Funny-Videos > p{
        font-size: 1.5rem;
    }
    .duo h1{
        font-size: 2rem;
    }
    .social-icon{
        grid-template-columns: repeat(3, 1fr);
        padding: 0 30%;
    }
    footer p{
        font-size: .8rem;
    }
}
/* mobile style end */

/* tablet style start */
@media screen and (min-width: 641px) and (max-width: 990px) {
    nav{
        flex-direction: column;
    }
    .nav-icon{
        margin-bottom: 2.5rem;
    }
    header{
        flex-direction: column-reverse;
        padding:20px 20%;
    }
    header img{
        width: 100%;
    }
    .Online-Games-Funny-Videos h1{
        font-size: 3rem;
    }
    .Online-Games-Funny-Videos-img{
        grid-template-columns: repeat(2,1fr);
    }
    .social-icon{
        grid-template-columns: repeat(3, 1fr);
        padding:0 35%;
    }
}
/* tablet style end */
/* laptop style start  */
@media screen and (min-width: 991px) and (max-width: 1024px) {
    header h2{
        font-size: 2rem;
    }
    header h1{
        font-size: 3rem;
    }
    header p{
        font-size: 2rem;
    }
    header img{
        width: 350px;
    }
    
}
/* laptop style end  */
